<!DOCTYPE html>
<html>

<head>
  <title>Nu Store</title>
  <link href="favicon.png" rel="shortcut icon" />
</head>

<body>
  <div id="react-app"></div>
  <script src="/dist/app.bundle.js"></script>
</body>

</html>