html,
body {
  height: 100%;
  background: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

.link {
  cursor: pointer;
}

/* Header START*/

.header-top {
  padding: 18px 0 14px;
}

.header-search-form {
  width: 100%;
  position: relative;
  padding: 0 10px;
}

.header-search-form input {
  width: 100%;
  height: 44px;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  padding: 0 19px;
  background: #f0f0f0;
}

.header-search-form button {
  position: absolute;
  height: 100%;
  right: 18px;
  top: 0;
  font-size: 26px;
  color: #000;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.user-panel .up-item i {
  font-size: 22px;
}

.user-panel .up-item a {
  font-size: 14px;
  color: #000;
}

.user-panel .up-item:first-child {
  margin-right: 29px;
}

/* Header END*/

/* Navbar START */

.navbar {
  background: red;
  padding: 0;
}

.navbar-collapse {
  background-color: red;
}

.single_card {
  display: flex;
  flex-direction: row;
  display: inline-block;
  margin: 20px;
}

.product_details_style {
  padding-top: 10px;
  margin-left: 30px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: crimson;
  font-size: 27px;
}

.navbar .navbar-collapse > .navbar-nav > li > a.nav-link {
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
  margin-right: 50px;
  line-height: 1;
  padding: 17px 0;
  position: relative;
}

.navbar .navbar-collapse > .navbar-nav > li:hover > a.nav-link {
  color: black;
}

.navbar .navbar-toggler {
  border-color: white;
}

.navbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Navbar END */

/* Carousal START */

.carousel-item img {
  width: 100%;
  height: 100%;
  max-height: 750px;
}

/* Carousal END */

/* Footer start */

.footer-section {
  background: #282828;
  padding-top: 60px;
}

.footer-logo {
  padding-bottom: 60px;
}

.footer-widget {
  margin-bottom: 70px;
  overflow: hidden;
}

.footer-widget h2 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 45px;
}

.footer-widget p {
  color: #8f8f8f;
}

.footer-widget.about-widget p {
  margin-bottom: 50px;
  letter-spacing: -0.01em;
}

.footer-widget ul {
  list-style: none;
  float: left;
  margin-right: 37px;
}

.footer-widget ul:last-child {
  margin-right: 0;
}

.footer-widget ul li a {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  color: #8f8f8f;
  margin-bottom: 6px;
}

.footer-widget ul li a:after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  left: 0;
  top: 8px;
  border: 1px solid #ec105a;
  border-radius: 50%;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.footer-widget ul li a:hover {
  color: #fff;
}

.footer-widget ul li a:hover:after {
  width: 7px;
  height: 7px;
  top: 6px;
  background: #ec105a;
}

.fw-latest-post-widget .lp-item {
  margin-bottom: 30px;
  display: block;
  overflow: hidden;
}

.fw-latest-post-widget .lp-thumb {
  width: 64px;
  height: 64px;
  float: left;
  margin-right: 22px;
}

.fw-latest-post-widget .lp-content {
  overflow: hidden;
  padding-top: 2px;
}

.fw-latest-post-widget .lp-content h6 {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  opacity: 0.25;
  color: #717171;
  margin-bottom: 1px;
}

.fw-latest-post-widget .lp-content span {
  display: block;
  font-size: 12px;
  color: #8f8f8f;
  margin-bottom: 4px;
}

.fw-latest-post-widget .lp-content .readmore {
  font-size: 12px;
  color: #f51167;
}

.contact-widget .con-info span {
  float: left;
  color: #f51167;
  margin-right: 15px;
  overflow: hidden;
}

.social-links-warp {
  border-top: 2px solid #3b3535;
  padding: 46px 0;
}

.social-links a {
  margin-right: 60px;
  display: inline-block;
}

.social-links a:last-child {
  margin-right: 0;
}

.social-links a i {
  font-size: 30px;
  color: #d7d7d7;
  float: left;
  margin-right: 19px;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.social-links a span {
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: #9f9fa0;
  padding-top: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.social-links a.instagram:hover i {
  color: #2f5d84;
}

.social-links a.google-plus:hover i {
  color: #e04b37;
}

.social-links a.twitter:hover i {
  color: #5abed6;
}

.social-links a.pinterest:hover i {
  color: #cd212d;
}

.social-links a.facebook:hover i {
  color: #39599f;
}

.social-links a.twitter:hover i {
  color: #5abed6;
}

.social-links a.youtube:hover i {
  color: #d12227;
}

.social-links a.tumblr:hover i {
  color: #37475e;
}

.social-links a:hover span {
  color: #fff;
}

/* footer end */

/* slick overrides START */

.bord {
  border: 1px solid;
  box-shadow: 2px 4px;
  margin: 15px;
  height: 460px;
  width: 97%;
  overflow: hidden;
  background: whitesmoke;
}

.slick-slider h3 {
  background: transparent;
  color: #aaa7a7;
  font-size: 20px;
  line-height: 40px;
  margin: 0px;
  padding: 1%;
  position: relative;
  text-align: center;
}

.variable-width .slick-slide p {
  background: #00558b;
  height: 100px;
  color: #fff;
  margin: 5px;
  line-height: 100px;
  text-align: center;
}

.center .slick-center h3 {
  color: #462e2d;
  opacity: 1;
  transform: scale(1.08);
}

.center h3 {
  opacity: 0.8;
  transition: all 300ms ease;
}

.slick-slide .image {
  padding: 10px;
}

.slick-slide img {
  border: 5px solid #fff;
  display: block;
  margin: auto;
  max-width: 80%;
}

.slick-slide img.slick-loading {
  border: 0;
}

.slick-slider {
  margin: 30px auto 50px;
  width: 95%;
}

.slick-dots {
  margin-left: 0;
}

.slick-thumb {
  bottom: -45px;
}

.slick-thumb li {
  width: 60px;
  height: 45px;
}

.slick-thumb li img {
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
}

.slick-thumb li.slick-active img {
  filter: grayscale(0%);
}

slick-div {
  height: 200px;
  width: 200px;
  background-color: transparent;
}

@media (max-width: 768px) {
  h3 {
    font-size: 24px;
  }
  .bord {
    height: 370px;
  }
  .center {
    margin-left: -40px;
    margin-right: -40px;
  }
  .center .slick-center h3 {
    color: #e67e22;
    opacity: 1;
    transform: scale(1);
  }
  .center h3 {
    opacity: 0.8;
    transform: scale(0.95);
    transition: all 300ms ease;
  }
}

.slick-vertical .slick-slide {
  height: 180px;
}

.slick-arrow {
  position: absolute;
  top: 35%;
}

.slick-next:before,
.slick-prev:before {
  color: #000 !important;
}

/* slick overrides END */

/*Banner START */

.container-banner {
  background-image: linear-gradient(
    141deg,
    #9fb8ad 0%,
    #1fc8db 51%,
    #2cb5e8 75%
  );
  text-align: left;
  font-family: inherit;
  padding: 3%;
  height: 225px;
}

.sec1 {
  float: left;
  width: 20%;
}

.sec2 {
  padding: 1%;
  float: left;
  width: 80%;
  color: whitesmoke;
}

.profileRow1,
.profileRow2,
.profileRow3 {
  width: 100%;
  float: left;
}

.profile-gaps {
  margin-left: 2%;
}

.profileRow4 {
  float: right;
  width: 10%;
}

#row1f1 {
  float: left;
  width: 30%;
}

#row1f2 {
  margin-top: 1%;
  float: left;
  width: 15%;
  border-radius: 15px;
}

#row2f1 {
  float: left;
  width: 8%;
}

#row2f2,
#row2f3 {
  float: left;
  width: 15%;
}
#profilepic {
  border: 4px solid white;
  background-color: white;
  border-radius: 100px;
}

@media only screen and (max-width: 1240px) {
  #row2f2,
  #row2f3 {
    width: 20%;
  }
  #row2f1 {
    width: 12%;
  }
  .sec1 {
    width: 25%;
  }
  .sec2 {
    width: 75%;
  }
  #row1f1 {
    width: 40%;
  }
  #row1f2 {
    width: 20%;
  }
}
@media only screen and (max-width: 869px) {
  #row2f2,
  #row2f3 {
    width: 30%;
  }
  #row2f1 {
    width: 20%;
  }
  .sec1 {
    width: 40%;
  }
  .sec2 {
    width: 60%;
  }
  #row1f2 {
    float: right;
    width: 30%;
  }
}
/* @media only screen and (max-width: ) */
/*Banner END*/

/*About Start*/

.container-about {
  width: 30%;
  margin-left: 1%;
}

/*About End*/

/*friends START*/

.flex-friends-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-friends-container > div {
  background-image: linear-gradient(
    141deg,
    #9fb8ad 0%,
    #1fc8db 51%,
    #2cb5e8 75%
  );
  width: 150px;
  height: 150px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border-style: hidden;
  border-radius: 30px;
}

.flex-friends-container img {
  margin-top: 27px;
}

.imgrounder {
  border-radius: 105px;
}

/*friends END*/

/*products START*/

/* The grid: Four equal columns that floats next to each other */

.productColumn {
  float: left;
  width: 25%;
  padding: 10px;
}

/* Style the images inside the grid */

.productColumn img {
  opacity: 0.8;
  cursor: pointer;
}

.productColumn img:hover {
  opacity: 1;
}

/* Clear floats after the columns */

.productRow:after {
  content: "";
  display: table;
  clear: both;
}

/* The expanding image container (positioning is needed to position the close button and the text) */

.productContainer {
  position: relative;
  display: none;
}

/* Expanding image text */

#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}

/* Closable button inside the image */

.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}

#expandedImg {
  width: 100%;
}

.col {
  width: 40%;
  float: left;
}

/*products END*/

/* Page Start*/

.page-content {
  overflow-x: hidden;
}

/* Page End*/

/* Profile Page START */

.profile-wrapper {
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.profile-wrapper .left {
  width: 35%;
  background: linear-gradient(to right, #01a9ac, #01dbdf);
  padding: 30px 25px;
  text-align: center;
  color: #fff;
}

.profile-wrapper .productWrapper.left {
  padding-bottom: 0px;
}

.profile-wrapper .left {
  padding-bottom: 0;
}

.profile-wrapper .left img {
  border-radius: 100px;
  margin-bottom: 10px;
  width: 40%;
}

.profile-wrapper .left img.magnifier-image {
  border-radius: 0;
}

.profile-wrapper .left img.productImg {
  border-radius: 0px;
  margin-bottom: 10px;
  width: 60%;
}

.profile-wrapper .left .socialIcons {
  width: 55%;
  margin: 0 auto;
}

.profile-wrapper .left h4 {
  margin-bottom: 10px;
}

.productWrapper.profile-wrapper .left h4 {
  margin-bottom: 0px;
}

.profile-wrapper .left p {
  font-size: 12px;
}

.profile-wrapper .right {
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.profile-wrapper .right .info,
.profile-wrapper .right .projects {
  margin-bottom: 25px;
}

.profile-wrapper .right .info h3,
.profile-wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.profile-wrapper .right .info_data,
.profile-wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.profile-wrapper .right .info_data .data,
.profile-wrapper .right .projects_data .data {
  width: 45%;
}

.productWrapper.profile-wrapper .right .info_data .data,
.profile-wrapper .right .projects_data .data {
  width: 30%;
}

.favIcon {
  font-size: x-large;
  cursor: pointer;
}

.favIcon.fav {
  color: red;
}

.profile-wrapper .right .info_data .data h4,
.profile-wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.profile-wrapper .right .info_data .data p,
.profile-wrapper .right .projects_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.productWrapper.profile-wrapper .right .info_data .data p,
.profile-wrapper .right .projects_data .data p {
  font-size: 18px;
}

.productWrapper.profile-wrapper .right .info_data,
.profile-wrapper .right .projects_data p.price {
  font-size: 22px;
}

.profile-wrapper .right .info_data .data p,
.profile-wrapper .right .projects_data .data p.product-description {
  color: #919aa3;
}

.profile-wrapper .social_media ul {
  display: flex;
}

.profile-wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  background: linear-gradient(to right, #01a9ac, #01dbdf);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.profile-wrapper .social_media ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
}

/* Profile Page START */

.profile-container .box {
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 0 auto;
}

.profile-container .card {
  position: relative;
  width: 300px;
  height: 350px;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.profile-container .card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}

.profile-container .card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.profile-container .card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}

.profile-container .card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.profile-container .card:hover .imgBx {
  bottom: 80px;
}

.profile-container .card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-container .card .details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 60px;
  text-align: center;
}

.profile-container .card .details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  color: #777;
  text-transform: uppercase;
}

.profile-container .card .details h2 span {
  font-weight: 500;
  font-size: 16px;
  color: #f38695;
  display: block;
  margin-top: 5px;
}

/* Profile Page END */

/*post page*/
.fragment_id {
  background-color: red;
  width: 100%;
}
.frm {
  width: 30%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  background-image: linear-gradient(
    141deg,
    #9fb8ad 0%,
    #1fc8db 51%,
    #2cb5e8 75%
  );
  padding: 10px;
  border-radius: 5%;
}

.sub {
  width: 30%;
  margin: 0 auto;
  border-radius: 5%;
}

/* .Postproduct{
    background-image: url("../img/Living.png");
}  */

/* post ends here */

.Reg {
  background-image: linear-gradient(
    141deg,
    #9fb8ad 0%,
    #1fc8db 51%,
    #2cb5e8 75%
  );
  padding: 10px;
  border-radius: 5%;
}

.but {
  margin: 0 auto;
  border-radius: 5%;
}
/* Social Icons */
.fa {
  position: relative;
  padding: 10px;
  font-size: 20px;
  width: 45px;
  text-align: center;
  text-decoration: none;
  margin: 5px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background-image: linear-gradient(
    141deg,
    #e09f11 0%,
    #861fdb 51%,
    #e82c84 75%
  );
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}
/* Icon pack ends here */
