html, body {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

input:focus, select:focus, button:focus, textarea:focus {
    outline: none;
}

a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

.link {
    cursor: pointer;
}

/* Header START*/

.header-top {
    padding: 18px 0 14px;
}

.header-search-form {
    width: 100%;
    position: relative;
    padding: 0 10px;
}

.header-search-form input {
    width: 100%;
    height: 44px;
    font-size: 14px;
    border-radius: 50px;
    border: none;
    padding: 0 19px;
    background: #f0f0f0;
}

.header-search-form button {
    position: absolute;
    height: 100%;
    right: 18px;
    top: 0;
    font-size: 26px;
    color: #000;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.user-panel .up-item i {
    font-size: 22px;
}

.user-panel .up-item a {
    font-size: 14px;
    color: #000;
}

.user-panel .up-item:first-child {
    margin-right: 29px;
}

/* Header END*/

/* Navbar START */

.navbar {
    background: red;
    padding: 0;
}

.navbar-collapse {
    background-color: red;
}

.single_card {
    display: flex;
    flex-direction: row;
}

.product_heading_style {
    padding-top: 10px;
    margin-left: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: crimson;
    font-size: 27px;
}

.product_details_style {
    margin-left: 30px;
    padding-top: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
    color: brown;
}

.navbar .navbar-collapse>.navbar-nav>li>a.nav-link {
    display: inline-block;
    font-size: 16px;
    color: #ffffff;
    margin-right: 50px;
    line-height: 1;
    padding: 17px 0;
    position: relative;
}

.navbar .navbar-collapse>.navbar-nav>li:hover>a.nav-link {
    color: black;
}

.navbar .navbar-toggler {
    border-color: white;
}

.navbar .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Navbar END */

/* Carousal START */

.carousel-item img {
    width: 100%;
    height: 500px;
    max-height: 500px;
}

/* Carousal END */

/*Banner START */
.container-banner{
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    text-align: left;
    font-family: inherit;
    padding: 3%;
    height:225px;
}

.sec1{
    float:left;
    width:20%;
}
.sec2{
    padding:1%;
    float:left;
    width:80%;
    color:whitesmoke;
}
.profileRow1,.profileRow2,.profileRow3{
    width:100%;
    float:left;
}
.profile-gaps{
    margin-left:2%;
}
.profileRow4{
    float:right;
    width:10%;
}
#row1f1{
    float:left;
    width:30%;
}
#row1f2{
    margin-top:1%;
    float:left;
    width:15%;
    border-radius:15px;
}

#row2f1{
    float:left;
    width:8%;
}

#row2f2,#row2f3{
    float:left;
    width:15%;
}

#profilepic{
    border: 4px solid white;
    background-color: white;
    border-radius: 100px;
}
/*Banner END*/

/*About Start*/
.container-about{
    width:30%;
    float:left;
    margin-left:1%;
}
/*About End*/

/*friends START*/
.flex-friends-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-friends-container>div{
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    width:150px;
    height:150px;
    margin:10px;
    text-align: center;
    line-height:75px;
    font-size:30px;
    border-style: hidden;
    border-radius: 30px;
}

.flex-friends-container img{
    margin-top:27px;
}
.imgrounder{
    border-radius: 105px;
}
/*friends END*/

/*products START*/
/* The grid: Four equal columns that floats next to each other */
.productColumn {
    float: left;
    width: 25%;
    padding: 10px;
  }
  
  /* Style the images inside the grid */
  .productColumn img {
    opacity: 0.8;
    cursor: pointer;
  }
  
  .productColumn img:hover {
    opacity: 1;
  }
  
  /* Clear floats after the columns */
  .productRow:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* The expanding image container (positioning is needed to position the close button and the text) */
  .productContainer {
    position: relative;
    display: none;
  }
  
  /* Expanding image text */
  #imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
  }
  
  /* Closable button inside the image */
  .closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }

  #expandedImg{
      width:100%;
  }

  .col{
      width:40%;
      float:left;
  }
/*products END*/